In [5]:
import pandas as pd
import folium
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('mydata.csv2.csv')

In [8]:
df

             name          description   latitude   longitude       color
0             ハウス                 自分の家  35.696999  139.983645       green
1           湊町小学校       自分が通っていた地元の小学校  35.692991  139.986452      yellow
2            湊中学校               地元の中学校  35.690368  139.979620      purple
3           市川東高校               卒業した高校  35.738138  139.955670         red
4  ソフィアドライビングスクール           卒業した地元の教習所  35.692465  139.980439        blue
5             映画館   ショッピングセンターの中にある映画館  35.686722  139.988646      orange
6           レストラン        日替わりのランチが美味しい  35.696748  139.985094   lightblue
7             バイト           バイトしているところ  35.702071  139.985062  lightgreen
8            麗澤大学              通っている大学  35.833253  139.954992        pink
9            タツノコ  卒業した高校の帰り道にあるお惣菜屋さん  35.732061  139.965552       white

In [ ]:
m = folium.Map